<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Modo</title>
</head>
<body>
    <!--title -->
    <h1 class="titre"></span> MO<span class="related">DO</span></h1>
    <!--end title--> 
<div id="app">
    <input type="text" placeholder="add a todo item" id="add-item" v-model="taskInput">
    <button class="action-on" @click="addItem">ADD</button><br>
    <div id="todos-box">
        <h2 class="titre">tasks box</h2>
        <button id="remove" 
         @click="removeFinished">Remove Finished Tasks </button>
        <ul id="list">
            <div v-for="task in tasks">
          <li @click="markFinished(task)" 
              :class="{ex : task.finished}"
              >{{task.content}}
           </li>
           <input type="text" v-if="task.editingOn" v-model="task.content">
           <button class="action-on" @click="toggleEditing(task)">Edit</button>
           <button class="action-on" @click="task.noteShowing=!task.noteShowing">Notes</button>
         <!-- pop up notes -->
         <div v-show="task.noteShowing">
            <div>
                <h2>take your notes here </h2>
                
                <textarea name="Notes" rows="4" cols="50" v-model="task.noteContent">
                    {{task.noteContent}}
                    </textarea>
            </div>
        </div>
         <!--end popup-->
        </ul>

        </div>
    </div>
  </div>

    <script src="todo.js"></script>

</body>
</html>
